/* Structure colors and dimensions*/
header {
    background-color: orange; /* TO DO: Set right color */
    height: 4em;
}

main {
    background-color: white;
    min-height: 500px;
}

footer {
    background-color: black; /* TO DO: Set right color */
    height: 4em;
}

/* Article colors and dimensions */
.article {
    height: 450px;
    width: 300px;
/*  background-color: black; */
    border: 3px solid red;  
} 

.preview {
    width: 100%;
    height: 85%;
    /* background-color: blue; */
    position: relative;
}

/* .info {
    width: 100%;
    height: 15%;
    background-color: gold;
} */
