/* Reset */

*, *::after, *::before {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* General */

/* Flex */

.flex {
	display: flex;
	align-items: center; 
	height: 100%;
}

/* Clearfix */

.clearfix {
	clear: both;}

/* Header */

header {
 /* Exact bg color */
 margin-bottom: 2em;
}

nav {
	justify-content: space-between;
	max-width: 1000px;
	margin: auto;
}

ul {
	justify-content: space-between;
}

li {
	list-style: none; 
	padding: 0 0.5em;
	color: white;
}

a {
	text-decoration: none;
	color: white;
}

.logo {
	height: 1.5em;
}

/* Main */

main {
	margin-bottom: 2em;
}

.container {
	margin: auto;
	max-width: 1000px;
}

.article {
float: left;
margin: 1em 1em;
}
