/* Reset */

*, *::after, *::before {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* General */
/* Unorder list and element list */
ul {
	justify-content: space-between;
}

li {
	list-style: none; 
	padding: 0 0.5em;
	color: white;
}

/* Link */
a {
	text-decoration: none;
	color: white;
}

/* Flex */

.flex {
	display: flex;
	align-items: center; 
	height: 100%;
}

/* Clearfix */

.clearfix {
	clear: both;}

/* End General */

/* Header */

header {
 /* Exact bg color */
 margin-bottom: 2em;
}

header nav {
	justify-content: space-between;
	max-width: 1000px;
	margin: auto;
}

.logo {
	height: 1.5em;
}

/* Main */

main {
	margin-bottom: 2em;
}

.container {
	margin: auto;
	max-width: 1000px;
}

.article {
	float: left;
	margin: 1em 1em;
}

/* Labels */
.like {
    width: 2.5em;
    height: 2.5em;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0;
}

.like:hover {
color: red;
}

.preview .flex {
	justify-content: center;
}

.sale {
    width: 2.5em;
    height: 1.5em;
    background-color: red;
    position: absolute;
    bottom: 20px;
    left: 0;
    color: white;
    text-align: center;

}

.eco {
    width: 6em;
    height: 1.5em;
    background-color: green;
    position: absolute;
    bottom: 20px;
    left: 3em;
    color: white;
    text-align: center;
    font-weight: bold;
} 

#no-left {
    left: 0;
}

.img-article {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0 ;

}

.hover:hover {
    opacity: 0%;
}


/* Info box style */
.brand,
.product {
	display: block;
}
.product {
	font-weight: bold;
	text-transform: uppercase;
}
.price {
	color: red;
}

.old-price {
	text-decoration: line-through;
}
/* Footer */

footer {
	/* Exact bg color */
}

footer nav {
	justify-content: space-between;
	max-width: 1000px;
	margin: auto;
}
footer span {
	color: white;
	padding: 0 0.5em;
}